@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.shop {
    font-family: 'Public Sans', sans-serif;
}



.shop-body {
    background: #fff;
    padding: 20px;
    font-family: 'Public Sans', sans-serif;
}


.shop-body button {
    background-color: transparent;
    border: 3px solid #8a2be2;
    border-radius: 0;
    padding: 10px 20px;
    color: #8a2be2;
}

.shop-body button:hover, .shop-body button:active,
.shop-body .btn:first-child:active {
    background-color: #8a2be2;  
    border: 3px solid #8a2be2;
    color: white;
}

.order-body {
    padding: 20px;
}

.card-body {
    padding: 10px 10px 10px 0px !important;
}

.cart-wrapper {
    font-size:10pt;
    background: #fff;
    padding: 30px;

    h4 {
        border-bottom: 1px solid #b1b1b1;
        // padding-bottom: 10px;
        background: #250c3b;
        color: white;
        padding: 15px;
        border-radius: 8px;
    }

    button {
        width: 100%;
        margin-top: 10px;
        background: #250c3b;
        border: 3px solid #250c3b;
        color: white;
    }

    .row {
        padding: 8px;
    }

    .delete-icon {
        cursor: pointer;
    }
}

.cart-container {
    position: fixed;
    right: 0;
    width: 25%;
}

.container.section {
    .section-card {
        padding: 20px;
    }
}

.text-right {
    text-align: right;
}

.shopcart-icon {
    position: absolute;
    right: 45px;
    top: 45px;
}
.shopcart-border{
    border-bottom: 1px solid black;
}

// New Css
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    flex-basis: calc(25% - 20px);
    margin: 10px 10px 20px;
    height: 100%;

    .card {
        border-radius: 0;
        border: none;
    }

    .card-img-top {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 0;
    
    }
} 

.add-to-cart {
    margin-top: 10px;
    font-family: Andale Mono, monospace;
}

/* star-shaped icons */
.rate {
    display: flex;
    justify-content: flex-start;
    height: 36px;
    width: 100%;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:30px;
    color:#8a2be2;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}


.text-price {
    --bs-text-opacity: 1;
    font-size: x-large;
    font-weight: bold;
    width: 200px;
    display: flex;
}

p.card-text {
    margin-bottom: 0px;
    font-family: Helvetica, monospace;
    text-overflow: ellipsis;
    overflow: hidden;
}

h1.firstword-title {
    color: black;
    margin-right: 5px;
    font-family: Helvetica, monospace;
    font-weight: 800;
}

h1.secondword-title {
    color: #8a2be2!important;
    font-family: Helvetica, monospace;
    font-weight: 800;
}

.card-body h5.card-title {
    font-family: Helvetica, monospace;
    font-weight: bold;
}

// AddToCart Modal
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.col-3 img {
    // width: 100%;
    // height: 100%;
    // border-radius: 50%;
    width: 80px;
    height: 60px;
    object-fit: cover;
    border: 1px solid #250c3b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 5px;
}
.col-3{
    
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.col-7{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
input#email {
    border: var(--bs-border-width) solid #250c3b;
}
input#email:focus {
    border: var(--bs-border-width) solid #250c3b;
    box-shadow: 0 0 0 0.25rem rgba(37,12,59,.25);
}
button.btn.btn-checkout.btn-block.btn-primary {
    background-color: #250c3b;
    border-color: #250c3b;
}

// Order Page
.order-body {
    .list-group .list-group-item {
        padding: 24px;
        border: 1px solid #bdb6c4;
        border-bottom: none;
    }

    .list-group .list-group-item:last-of-type {
        border-bottom: 1px solid #bdb6c4;
    }
}

.grid.items-row {
    margin-top: 5px;
    justify-content: flex-start;
    gap: 10px;
}

.items-container {
    box-shadow: 0 0 0 1px #c495f0;
    border-radius: 0.375rem;
    padding: 5px 10px;    
    width: calc((100%/3) - 7px);
    height: 100%;
}

.order-list {
    .fw-bold span {
        font-weight: 400;
    }

    .row + .fw-bold {
        margin-top: 20px;
    }
}

.order-counter {
    span {
        background-color: #c495f0;
        border-radius: 0.375rem;
        padding: 5px 10px;
        color: #250c3b;
    }
}

//--------------------------- Dashboard ------------------
.landingpage{
 //   height: 100vh;
 //   background-repeat: no-repeat;
 //   background-size: auto;
 //   background-attachment: fixed;
}

.landingpage p, .landingpage h5, .landingpage h1{
    color: white;
}

.landingpage h5:first-child{
    padding-top: 180px;
}

.landingpage .purple h5{
    padding: none;
}

.landingpage h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.landing-navbar{
    display: flex;
    justify-content: space-between;
}

.svg-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.outer-container{
    display: flex;
}

.left-col{
    flex: 60%;
}

/* Style for the right div (40%) */
.right-col {
    flex: 40%;
}

h5.landing-bodyheader{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

//--------------------------- tic tac toe css -----------------------------------
/* App.css */

/* Style for the game board */
.game {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    max-width: 300px;
    font-family: Arial, sans-serif;
  }
  
  /* Style for individual squares */
  .square {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
  
