@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.shop {
    font-family: 'Public Sans', sans-serif;
}

//zach uses this pls
.purple{
    color: #8a2be2!important;
}

.orange{
    color: orange!important;
}

.display-flex{
    display: flex;
}

.justify{
    justify-content: center;
    align-items: center;
}

.shop-body {
    background: #fff;
    font-family: 'Public Sans', sans-serif;
    position: relative;
}


.shop-body button {
    background-color: transparent;
    border: 3px solid #8a2be2;
    border-radius: 0;
    padding: 10px 20px;
    color: #8a2be2;
}

.shop-body button:hover, .shop-body button:active,
.shop-body .btn:first-child:active {
    background-color: #8a2be2;  
    border: 3px solid #8a2be2;
    color: white;
}

.order-body {
    padding: 20px;
}

.card-body {
    padding: 10px 10px 10px 0px !important;
}

.cart-wrapper {
    font-size:10pt;
    background: #fff;
    padding: 30px;

    h4 {
        border-bottom: 1px solid #b1b1b1;
        // padding-bottom: 10px;
        background: #250c3b;
        color: white;
        padding: 15px;
        border-radius: 8px;
    }

    button {
        width: 100%;
        margin-top: 10px;
        background: #250c3b;
        border: 3px solid #250c3b;
        color: white;
    }

    .row {
        padding: 8px;
    }

    .delete-icon {
        cursor: pointer;
    }
}

.cart-container {
    position: fixed;
    width: 25%;
    right: 10px;
    top: 10px;
    transition: .5s cubic-bezier(.19,1,.22,1);
    z-index: 110;
}

.container.section {
    .section-card {
        padding: 20px;
    }
}

.text-right {
    text-align: right;
}

.shopcart-icon {
    position: absolute;
    right: 45px;
    top: 45px;
}
.shopcart-border{
    border-bottom: 1px solid black;
    padding-top: 10px;
}

.cart-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-block: 12px;

    > div:nth-of-type(1) {
        width: 20%;
    }

    > div:nth-of-type(2) {
        width: 40%;
    }

    > div:nth-of-type(3) {
        width: 30%;
    }

    > div:nth-of-type(4) {
        width: 10%;
    }

    .cart-img-container img {
        width: 100%;
        height: 40px;
        object-fit: cover;
    }
}

.exit-button{
    position: absolute;
    top: -15px;
    left: 175px;
    background: transparent!important;
    border: none!important;
    width: 10px;
}

// New Css
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    flex-basis: calc(25% - 20px);
    margin: 10px 10px 20px;
    height: 100%;

    .card {
        border-radius: 0;
        border: none;
    }

    .card-img-top {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
    
    }
} 

.add-to-cart {
    margin-top: 10px;
    font-family: Andale Mono, monospace;
}

/* star-shaped icons */
.rate {
    display: flex;
    justify-content: flex-start;
    height: 36px;
    width: 100%;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:30px;
    color:#8a2be2;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}


.text-price {
    --bs-text-opacity: 1;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    display: flex;
}

p.card-text {
    margin-bottom: 0px;
    // font-family: Helvetica, monospace;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

h1.firstword-title {
    color: black;
    margin-right: 5px;
    font-family: Helvetica, monospace;
    font-weight: 800;
}

h1.secondword-title {
    color: #8a2be2!important;
    font-family: Helvetica, monospace;
    font-weight: 800;
}

.card-body h5.card-title {
    // font-family: Helvetica, monospace;
    font-weight: bold;
}

// AddToCart Modal
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
// .col-3 img {
//     // width: 100%;
//     // height: 100%;
//     // border-radius: 50%;
//     width: 80px;
//     height: 60px;
//     object-fit: cover;
//     border: 1px solid #250c3b;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     // padding: 5px;
// }
.col-3{
    
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.col-7{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
input#email {
    border: var(--bs-border-width) solid #250c3b;
}
input#email:focus {
    border: var(--bs-border-width) solid #250c3b;
    box-shadow: 0 0 0 0.25rem rgba(37,12,59,.25);
}
button.btn.btn-checkout.btn-block.btn-primary {
    background-color: #250c3b;
    border-color: #250c3b;
}

// Order Page
.order-body {
    .list-group .list-group-item {
        padding: 24px;
        border: 1px solid #bdb6c4;
        border-bottom: none;
        font-size: 14px;
    }

    .list-group .list-group-item:last-of-type {
        border-bottom: 1px solid #bdb6c4;
    }
}

.grid.items-row {
    margin-top: 5px;
    justify-content: flex-start;
    gap: 10px;
}

.items-container {
    box-shadow: 0 0 0 1px #c495f0;
    border-radius: 0.375rem;
    padding: 5px 10px;    
    width: 100%;
    height: 100%;

    @media (min-width: 768px) {
        width: calc((100%/3) - 7px);
      }
}

.order-list {
    .fw-bold span {
        font-weight: 400;
    }

    .row + .fw-bold {
        margin-top: 20px;
    }
}

.order-counter {
    span {
        background-color: #c495f0;
        border-radius: 0.375rem;
        padding: 5px 10px;
        color: #250c3b;
        font-size: 14px;
    }
}

//--------------------------- Dashboard ------------------
#landingId {
    background-image: url('/images/landingbg.png');
    padding: 25px 120px;
    height: 100vh;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.landingwrapper {
    position: relative;
    z-index: 100;
}


.landingpage p, .landingpage h5, .landingpage h1{
    color: white;
}

.landingpage .purple h5{
    padding: none;
}

.landingpage h1{
    font-weight: bold;
    font-size: 42px;
}

.landing-navbar{
    display: flex;
    justify-content: space-between;
}

.landingpage .landing-navbar button{
    color: snow;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    transition: border-bottom 0.5s ease;

}

.landingpage .landing-navbar .active{
    border-bottom: 3px solid #8a2be2;
}

.landingpage .landing-navbar .display-flex input{
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f4;
    padding: 0 16px;
    color: #161616;
    transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
    :focus{
        outline: 2px solid #0f62fe;
        outline-offset: -2px;
    }
}

.highlighted-text{ //this highlights searched text hehe
    background-color: yellow;
}

.svg-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.outer-container{
    display: flex;
    height: 100%;
}

.left-col{
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-col {
    flex: 50%;
    position: relative;
}

.right-img {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}

h5.landing-bodyheader{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

p.landing-bodyheader{
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-size: 15px;
    margin-right: 80px;
    margin-top: 20px;
}

.landingpage .shopnow {
  align-items: center;
  background-clip: padding-box;
  background-color: #8a2be2;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 220px;
}

.landingpage .shopnow:hover,
.landingpage .shopnow:focus {
  background-color: #7c27cb;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.landingpage .shopnow:hover {
  transform: translateY(-1px);
}

.landingpage .shopnow:active {
  background-color: #6b21af;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

// burger menu
.desktopnavbar {
    display: flex; 
    @media (max-width: 768px) {
        display: none;
      }
  }

  .hamburger-menu {
    padding: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
    @media (min-width: 768px) {
        display: none;
      }
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .hamburger-menu:hover{
    background-color: #6b21af;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: whitesmoke;
  }
  
  .menu {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 100%;
    width: 300px;
    right: 0;
    background-image: url('/images/landingbg.png');
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    border: 1px solid #000000;
  }

  
  .open .menu {
    display: flex;
  }
  
  .landing-navbar .menu button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
    width: 300px;
    text-align: center;
  }
  
  .menu button:hover {
    background-color: lighten($color: #6b21af, $amount: 1);
    color: whitesmoke;
  }
  

//--------------------------- tic tac toe css -----------------------------------
/* App.css */

/* Style for the game board */
.game {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    max-width: 300px;
    font-family: Arial, sans-serif;
  }
  
  /* Style for individual squares */
  .square {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
  